{% block header %}
{% load static i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/header.css' %}">
</head>
<body>
    <header id="header">
        <div class="header-logo">
            <div class="left">
                <a href="{% url 'store:home' %}" class="logo">
                    <span class="symbol"><img src="{% static 'images/logo_door1.png' %}" alt="DOOR" /></span>
                </a>
            </div>
            <div class="right">
                {% if user.is_authenticated %}
                    <a href="{% url 'users:profile' %}" class="logo">
                        <img src="{% static 'images/user.png' %}" alt="">
                        <span class="icon-text">{{ user.username }}</span>
                    </a>
                {% else %}
                    <a href="{% url 'users:profile' %}" class="logo">
                        <img src="{% static 'images/user.png' %}" alt="">
                        <span class="icon-text">ВОЙТИ</span>
                    </a>
                {% endif %}
            </div>
            
            
        </div>

        

        <div id="google_translate_element"></div>
        <div class="inner1">
            <div class="catalog" id="catalog" style="display: none;">
                <h3>Каталог</h3>
                <ul>
                    {% for tag in page_obj_2 %}
                        <li><a href="{% url 'store:tag_details' tag.slug %}">{{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <!-- Nav -->
            <button class="catalog-button" onclick="toggleCatalog()">
                <i class="fa-solid fa-bars"></i> Каталог
            </button>

            <div class="search-bar">
                <form action="{% url 'store:search' %}" method="get">
                    <input type="text" name="q">
                    <button type="submit"><i class="fa-solid fa-search"></i></button>
                </form>
            </div>
            <nav>
                <ul class="actions">
                    <li class="icons-header">
                        {% if user.is_superuser %}
                        <a href="{% url 'store:moderator_panel' %}" class="button_admin">
                            <img src="{% static 'images/admin.png' %}" alt="">
                            <span class="icon-text">Панель модератора</span>
                        </a>
                        {% endif %}
                        {% if user.is_seller %}
                        <a href="{% url 'store:my_items' %}">
                            <img src="{% static 'images/seller.png' %}" alt="">
                            <span class="icon-text">Мои обьявления</span>
                        </a>
                        {% endif %}
                        <a href="{% url 'store:favorite_list' %}">
                            <img src="{% static 'images/favorite.png' %}" alt="">
                            <span class="icon-text">Избранное</span>
                        </a>
                        <a href="{% url 'cart:cart' %}">
                            <img src="{% static 'images/basket.png' %}" alt="">
                            <span class="icon-text">Корзина</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- Search Bar -->
        </div>
    </header>
    
    <script>
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({ pageLanguage: 'ru', autoDisplay: false }, 'google_translate_element');
      }

      function changeLanguage(lang) {
        localStorage.setItem("selectedLanguage", lang); // Сохраняем язык
        var select = document.querySelector(".goog-te-combo");
        if (select) {
          select.value = lang;
          select.dispatchEvent(new Event("change"));
        }
      }

      // Восстанавливаем язык после обновления страницы
      window.onload = function () {
        var savedLang = localStorage.getItem("selectedLanguage");
        if (savedLang) {
          document.getElementById("language-selector").value = savedLang; // Обновляем селектор
          changeLanguage(savedLang); // Применяем перевод
        }
      };
      function toggleCatalog() {
            const catalog = document.getElementById('catalog');
            if (catalog.style.display === 'none') {
                catalog.style.display = 'block';
            } else {
                catalog.style.display = 'none';
            }
        }
    </script>
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
{% endblock %}
</body>
</html>
