{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'assets/add_item.css' %}">
{% endblock %}
{% block content %}
<form method="post" enctype="multipart/form-data" class="add-item-form" id="addItemForm">
    {% csrf_token %}
    <p><label for="id_title">Название:</label> {{ form.title }}</p>
    <p><label for="id_description">Описание:</label> {{ form.description }}</p>
    <p><label for="id_price">Цена:</label> {{ form.price }}</p>
    <p><label for="id_old_price">Старая цена:</label> {{ form.old_price }}</p>
    
    <p><label for="id_image">Изображение:</label></p>
    <div class="file-input-container">
        {{ form.image }}
        <div class="image-preview-container">
            <div class="preview-placeholder">
                Предварительный просмотр изображения
            </div>
            <img id="imagePreview" class="image-preview" src="#" alt="Preview">
        </div>
    </div>
    
    <p><label for="id_is_available">Доступно:</label> {{ form.is_available }}</p>
    
    <p><label for="id_tags">Выберите категорию:</label>
        <select name="tags" id="id_tags" multiple onchange="changeSelectValue()">
            {% for tag in tags %}
                <option value="{{ tag.id }}">{{ tag.name }}</option>
            {% endfor %}
        </select>
    </p>        

    <div>
        <form action="" method="post" class="optionsContainer">
            {% csrf_token %}

        </form>
        <!-- Здесь будет динамически изменяться список опций в зависимости от выбранной категории -->
    </div>
        
    <button type="submit" class="button" onclick="getCheckedValues()">Добавить</button>
</form>

<script>
function changeSelectValue() {
    const selectElement = document.getElementById("id_tags");
    const optionsContainer = document.getElementById('optionsContainer');
    const selectedValue = selectElement.value;
    const checkboxList=[]
    let optionList = [];

    if (selectedValue === "1") {
        optionList = ['LG', 'Samsung', 'Bosch', 'Philips', 'Tefal', 'Electrolux', 'Siemens'];
    } else if (selectedValue === "2") {
        optionList = ['Тональные кремы', 'Румяна', 'Тени для век', 'Помады', 'Палетки для макияжа', 'Пробники косметики', 'Парфюмерия', 'Уход за кожей', 'Уход за волосами', 'Декоративная косметика', 'Маникюр и педикюр', 'Средства для бритья', 'Антивозрастная косметика', 'Солнцезащитные средства', 'Гигиеническая косметика'];
    } else if (selectedValue === "3") {
        optionList = ['Одежда для новорожденных', 'Товары для кормления', 'Игрушки', 'Товары для сна', 'Коляски и автокресла', 'Детские книги', 'Пеленки и подгузники', 'Прогулочные коляски', 'Питание для детей', 'Гигиенические товары для детей', 'Товары для путешествий', 'Мебель для детской комнаты', 'Детская обувь', 'Косметика для детей', 'Спортивные товары для детей'];
    } else if (selectedValue === "4") {
        optionList = ['Одежда для спорта', 'Обувь для спорта', 'Тренажеры', 'Экипировка для фитнеса', 'Гири и штанги', 'Товары для бега', 'Велосипеды', 'Роликовые коньки', 'Снаряжение для туризма', 'Йога и пилатес', 'Спортивные аксессуары', 'Спортивное питание', 'Плавание', 'Теннис', 'Футбол', 'Баскетбол', 'Гольф'];
    } else if (selectedValue === "5") {
        optionList = ['Ручки и карандаши', 'Бумага и блокноты', 'Клеящие средства', 'Картриджи и тонеры', 'Организация рабочего пространства', 'Папки и файлы', 'Ластики и точилки', 'Ножницы', 'Степлеры и скобы', 'Корректирующие средства', 'Маркер и фломастеры', 'Стикеры и заметки', 'Канцелярские принадлежности для творчества', 'Письменные принадлежности', 'Папки-скоросшиватели'];
    } else if (selectedValue === "6") {
        optionList = ['Скидки на товары', 'Акции и распродажи', 'Бонусные программы', 'Купоны и промокоды', 'Подарочные карты', 'Скидки на первый заказ', 'Кэшбэк', 'Льготные предложения для постоянных клиентов', 'Сезонные скидки', 'Скидки на доставку', 'Скидки для студентов', 'Акции для подписчиков', 'Подарки при покупке', 'Специальные предложения для оптовых покупателей'];
    } else if (selectedValue === "7") {
        optionList = ['Подарки для мужчин', 'Подарки для женщин', 'Подарки для детей', 'Подарки для коллег', 'Подарки на день рождения', 'Подарки на свадьбу', 'Подарки на Новый год', 'Подарки на 8 марта', 'Подарки на 23 февраля', 'Подарки для влюбленных', 'Подарки для учителей', 'Подарки для друзей', 'Романтические подарки', 'Эко-подарки', 'Подарки ручной работы'];
    }

    // Обновление списка опций
    optionsContainer.innerHTML = optionList.map(option => `<label><input type="checkbox" name="options" value="${option}"> ${option}</label>`).join('<br>');
    localStorage.clear();
    localStorage.setItem('selectedValue', selectedValue);
}
function getCheckedValues(){
    const checkboxs=document.querySelectorAll('input["name"]:checked')
    const values=Array.from(checkboxs).map(checkbox=>checkbox.value);
    checkboxList.push(values);
    console.log(checkboxList);
    
}

document.addEventListener('DOMContentLoaded', function() {
    const imageInput = document.querySelector('input[type="file"]');
    const imagePreview = document.getElementById('imagePreview');
    const placeholder = document.querySelector('.preview-placeholder');

    imageInput.addEventListener('change', function() {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                imagePreview.src = e.target.result;
                imagePreview.classList.add('active');
                placeholder.style.display = 'none';
            };
            reader.readAsDataURL(file);
        } else {
            imagePreview.classList.remove('active');
            placeholder.style.display = 'flex';
        }
    });
});
</script>
{% endblock %}
